/* Globala regler */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 3%;
}

h2 {
  color: #d570e7;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Temaregler för body */
body.light {
  background-color: rgb(223, 223, 223);
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #222222;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Regler för app-containern */
body.light .app {
  background-color: #f9f9f9;
  color: #000000;
}

body.dark .app {
  background-color: rgb(46, 46, 46);
  color: #ffffff;
}

/* Temaregler för aside */
body.light aside {
  background-color: #e0e0e0;
  color: #000;
}

body.dark aside {
  background-color: #444444;
  color: #fff;
}

/* Ändrade färger för temat baserat på body-klass */
body.light .theme-button {
  background-color: #d570e7;
  color: #fff;
}

body.dark .theme-button {
  background-color: #444444;
  color: #d570e7;
}

section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

aside {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
   p {
    padding-bottom: 7%;
   }
}

img {
  width: 100%;  
  height: auto;  
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.feedbackForm {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

/* Mobilanpassning */
@media (max-width: 600px) {
  nav ul {
    flex-direction:row; /* Ändra layout till en kolumn */
    align-items: center;
  }

  nav ul li a {
    font-size: 16px;
    padding: 10px;
  }

  section {
    flex-direction: column;
  }
}