@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

/* Globala regler */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 3%;
}

h2 {
  color: #d570e7;
  margin-bottom: 2%;
}

body {
  font-family: 'Merriweather', serif;
  line-height: 1.6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Temaregler för body */
body.light {
  background-color: rgb(223, 223, 223);
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #222222;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Regler för app-containern */
body.light .app {
  background-color: #f9f9f9;
  color: #000000;
}

body.dark .app {
  background-color: rgb(46, 46, 46);
  color: #ffffff;
}

/* Temaregler för aside */
body.light aside {
  background-color: #e0e0e0;
  color: #000;
}

body.dark aside {
  background-color: #444444;
  color: #fff;
}

/* Ändrade färger för temat baserat på body-klass */
body.light .theme-button {
  background-color: #d570e7;
  color: #fff;
}

body.dark .theme-button {
  background-color: #444444;
  color: #d570e7;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.card2 {
  display: flex;

  p {
    padding-right: 3%;
  }
}

.card3 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

aside {
  flex: 1;
  padding: 3% 0% 5% 3%;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  p {
    padding-bottom: 5%;
  }
}

.contact {
  padding: 1%;
  padding-bottom: 0%;

  p {
    padding-bottom: 2%;
  }

  h2 {
    margin: 1%;
  }
}

img {
  max-width: 90%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 2%;
}

.cvbild {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: aqua;

  img {
    max-height: 20%;
    align-items: center;
  }
}

.feedbackForm {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

/* Mobil/tablet anpassning */
@media (max-width: 800px) {
  nav ul {
    flex-direction: row;
    align-items: center;
  }

  nav ul li a {
    font-size: 16px;
    padding: 10px;
  }

  .app {
    width: 95%;
    height: 90vh;
    padding: 2%;
    margin: auto;
    font-size: smaller;
  }

  section,
  aside,
  .card3 {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}